@charset "UTF-8";
/*-----------------------------
1. TIPOGRAFIA
-------------------------------*/
html {
  font-size: 62.5%;
  /* Normalizar para REMS */
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  color: #000000;
}

/* Principales */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
  color: #00246f;
  text-align: center;
}

h5 {
  font-size: 1.5rem;
}

#rzn h2 {
  margin: 3rem;
}

h6 {
  color: #ffffff;
}

/*-----------------------------
2. ESTILOS COLOR PRINCIPAL
-------------------------------*/
.bg-primary {
  background-color: #89878c !important;
}

.text-primary {
  color: #89878c !important;
}

/*-----------------------------
3. ESTILOS COLOR SECUNDARIO
-------------------------------*/
.bg-secondary {
  background-color: #00246f !important;
}

.text-secondary {
  color: #00246f !important;
}

.bg-success {
  background-color: #ffffff !important;
}

.text-success {
  color: #ffffff !important;
}

/*-----------------------------
5. ESTILOS ENCABEZADO
-------------------------------*/
.redes-sociales li a i {
  color: #ffffff;
  font-size: 2.3rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  opacity: .5;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.redes-sociales li a i:hover {
  opacity: 1;
  -webkit-transform: scale(1.5) rotate(360deg);
          transform: scale(1.5) rotate(360deg);
}

.swiper-container {
  width: 100%;
  height: 30rem;
}

.swiper-slide {
  background-position: center center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: auto;
  height: 20rem;
  background-size: cover;
  background-position: center;
}

.swiper-button-next {
  color: white;
}

.swiper-button-prev {
  color: white;
}

/*-----------------------------
5. ESTILOS MENÚ NAVEGACIÓN
-------------------------------*/
.navbar-nav li a {
  font-size: 2rem;
  color: #ffffff !important;
  padding-right: 3rem !important;
  opacity: 1;
}

.navbar-nav li a:hover {
  opacity: 0.3;
}

#datos-generales span {
  font-size: 1.8rem;
}

#datos-generales .dropdown-menu li a:hover {
  background-color: #00246f;
}

#datos-generales .dropdown-item {
  background-color: rgba(255, 255, 255, 0.192);
}

#menu_recipientes .dropdown-item a {
  color: #00246f;
}

#menu_recipientes .dropdown-menu a {
  width: 18rem;
  color: white;
}

#menu_recipientes .dropdown-menu {
  background-color: #5068a5;
  border-radius: 1rem;
}

#menu_recipientes .dropdown-menu li a:hover {
  background-color: #00246f;
  opacity: .5;
}

#menu_recipientes .dropdown-menu .active {
  background-color: #00246f;
  opacity: .5;
}

.flotante {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  bottom: 320px;
  right: 0px;
}

.ir-arriba {
  display: none;
  background-repeat: no-repeat;
  font-size: 20px;
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

/*=========================
 7. ESTILOS SECCIONES
 ==========================*/
#socios {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#socios .swiper-container {
  width: 100%;
  height: 20rem;
}

#socios .swiper-slide {
  background-position: center center;
  background-size: 10rem;
  background-repeat: no-repeat;
  background-color: white;
}

.razon {
  border: none;
}

.card-text {
  font-size: 2rem;
}

/*=========================
 8. ESTILOS SECCIÓN PRINCIPAL
 ==========================*/
#pie a {
  color: #ffffff;
  font-size: 1.6rem;
  padding-top: 0.5rem;
  text-decoration: none;
}

#menu_recipientes a {
  font-size: 2rem;
  margin: 1rem;
}

/*=========================
 8. ESTILOS SECCIÓN CATEGORIAS
 ==========================*/
.container_img {
  position: relative;
  width: auto;
  height: auto;
  margin-bottom: 1rem;
}

.image_cate {
  opacity: 1;
  display: block;
  width: auto;
  height: auto;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 2rem;
}

.middle_cate {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container_img:hover .image_cate {
  opacity: 0.3;
}

.container_img:hover .middle_cate {
  opacity: 1;
}

.text_img {
  background-color: #00246f;
  color: white;
  font-size: 16px;
  padding: 8px 20px;
}

/*=========================
 9. ESTILOS SCROLLTOP
 ==========================*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #e0040b;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#myBtn:hover {
  background-color: #e0040b;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .7;
}

.pagina {
  background-color: #00246f;
  font-size: 2rem;
  color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  font-family: 'Nunito', sans-serif;
}

.activo {
  background-color: #00246f;
  opacity: .5;
}

/*=========================
 10. Acordion
 ==========================*/
.acc_button_text {
  font-size: 2rem;
}

/*=========================
 9. @media QUERIES
 ==========================*/
/*# sourceMappingURL=estilos.css.map */